# Production environment will check all required variables. Variables are optional if: 1) name ends with '_OPTIONAL' or 2) value uses ENV.fetch('CLACKY_xxx') pattern.

# CLACKY_XX variables, will be imported by Clacky CDE environments
# CLACKY_PREVIEW_DOMAIN_BASE
# CLACKY_EMAIL_SMTP_ADDRESS
# CLACKY_EMAIL_SMTP_PORT
# CLACKY_EMAIL_SMTP_USERNAME
# CLACKY_EMAIL_SMTP_API_KEY
# CLACKY_EMAIL_SMTP_DOMAIN
#
# DATABASE_URL will be setted in production, Rails will check it automatically!


# Use `rake secret` to generate one key
# production need!!!
SECRET_KEY_BASE: ''

# Set this value to generate email sending URLs and callback URLs
# production need!!!
PUBLIC_HOST: '<%= ENV.fetch('CLACKY_PUBLIC_HOST', '') %>'

# SMTP for email
EMAIL_SMTP_ADDRESS: '<%= ENV.fetch("CLACKY_EMAIL_SMTP_ADDRESS", '') %>'
EMAIL_SMTP_PORT: '<%= ENV.fetch("CLACKY_EMAIL_SMTP_PORT", '') %>'
EMAIL_SMTP_USERNAME: '<%= ENV.fetch("CLACKY_EMAIL_SMTP_USERNAME", '') %>'
EMAIL_SMTP_PASSWORD: '<%= ENV.fetch("CLACKY_EMAIL_API_KEY", '') %>'
EMAIL_SMTP_DOMAIN: '<%= ENV.fetch("CLACKY_EMAIL_SMTP_DOMAIN", '') %>'

# Storage bucket configuration, compatible with S3
STORAGE_BUCKET_ENDPOINT: '<%= ENV.fetch("CLACKY_STORAGE_BUCKET_ENDPOINT", '') %>'
STORAGE_BUCKET_ACCESS_KEY_ID: '<%= ENV.fetch("CLACKY_STORAGE_BUCKET_ACCESS_KEY_ID", '') %>'
STORAGE_BUCKET_SECRET_ACCESS_KEY: '<%= ENV.fetch("CLACKY_STORAGE_BUCKET_SECRET_ACCESS_KEY", '') %>'
STORAGE_BUCKET_REGION: '<%= ENV.fetch("CLACKY_STORAGE_BUCKET_REGION", '') %>'
STORAGE_BUCKET_NAME: '<%= ENV.fetch("CLACKY_STORAGE_BUCKET_NAME", '') %>'

# xxx_OPTIONAL is optional
# XXX_OPTIONAL: ''
